$lightGray: #dddddd;
$header-footer-textColor: white;
$h2FontFamily: "HelveticaNeue";
$h1FontFamily: "SourceSansPro";
$h1Color: #134880;
$backgroundSize: 20%;
$backgroundPosition: center;
$imgAnimationConfig: all 1s;