* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin-left: -10%;
  display: grid;
  grid-template-columns: 70% 10%;
}

.myCarousel {
  height: 67vh;
  overflow: hidden;
}

.myCarousel img {
  position: relative;
  border-radius: 2%;
  margin: 0.5%;
  max-height: 300px;
}

#btnRight {
  background: url("assets/arrow-gray-right.png") no-repeat;
  background-size: 30%;
  background-position: center;
}

#btnLeft {
  background: url("assets/arrow-gray-left.png") no-repeat;
  background-size: 30%;
  background-position: center;
}

#btnRight:hover {
  background: url("assets/arrow-blue-right.png") no-repeat;
  background-size: 30%;
  background-position: center;
}

#btnLeft:hover {
  background: url("assets/arrow-blue-left.png") no-repeat;
  background-size: 30%;
  background-position: center;
}

.btns {
  margin-top: 18%;
}

button {
  display: block;
  padding: 10%;
  border-radius: 5%;
  margin-bottom: 5%;
}

.text {
    margin-left: 10%;
}

h2 {
  color: rgb(59, 59, 172);
  margin-bottom: 1rem;
}

p {
  color: gray;
  font-size: 1.3rem;
}
